@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <span>Admin insan</span>
    }
    <span>Hoşgeldiniz @User.Identity.Name</span>
    <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Oturumu Kapat</a>
}
else
{
    <a asp-action="Login" asp-controller="Account" class="btn btn-success">Login</a>
}
